.btn {
  @extend %center-layout; 
  cursor: pointer;
  font-weight: 700;
  font-size: 1.7rem;
  padding: 0.8rem 2rem;
  border-radius: 12px;
  transition: all 0.1s ease-in-out;
  width: var(--spacing-37);
  
  // Borde sólido + Sombra sin desenfoque
  border: 2px solid $dark-obsidian; 
  box-shadow: 4px 4px 0px $dark-obsidian; // X, Y, Blur(0), Color

  &:hover {
    transform: translate(-1px, -1px);
    box-shadow: 5px 5px 0px $dark-obsidian;
  }

  &:active:not(:disabled) {
    // Al hacer click, el botón "baja" y la sombra desaparece
    transform: translate(4px, 4px); 
    box-shadow: 0px 0px 0px $dark-obsidian;
  }

  &:disabled {
    cursor: not-allowed;
    opacity: 0.6;
    filter: grayscale(1);
  }
}

.btn-primary {
  background-color: $amarillo-melocoton;
  color: $dark-obsidian;
}