.card{
    background-color: $white ;
    border: 1px solid rgba($dark-obsidian, 0.1);
    border-radius: 12px;
    padding: 1.5rem;
    border: 2px solid $dark-obsidian; 
    box-shadow: 4px 4px 0px $dark-obsidian; 
}