$white:#ffffff;
$crema-suave:#fefbef;
$amarillo-melocoton:#FECD81;
$chestnut-rose:#c84e5e;
$dark-obsidian:#0d0706;
$electric-blue:#217DE4;
$font-main: 'Lexend', sans-serif;    // Para títulos impactantes
$font-mono: 'Space Mono', monospace; // Para datos y botones